<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.hexiaolei.webaiproject.Mapper.StudentMapper">
    <select id="queryStudents" resultType="cloud.hexiaolei.webaiproject.pojo.Student">
        select st.*,cl.name clazzName
        from students st inner join clazz cl where st.clazzId = cl.id
    </select>
</mapper>