<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.hexiaolei.webaiproject.Mapper.StudentMapper">
    <insert id="addStudent">
        insert into students (name, no, gender, phone, degree, id_card, is_college, address, graduation_date, violation_count, violation_score, clazz_id, create_time, update_time)
        values (#{name}, #{no}, #{gender}, #{phone}, #{degree}, #{idCard}, #{isCollege}, #{address}, #{graduationDate}, #{violationCount}, #{violationScore}, #{clazzId}, #{createTime},#{updateTime})
    </insert>
    <update id="updateStudent">
        update students set name = #{name}, no = #{no}, gender = #{gender}, phone = #{phone}, degree = #{degree}, id_card = #{idCard}, is_college = #{isCollege}, address = #{address}, graduation_date = #{graduationDate}, violation_count = #{violationCount}, violation_score = #{violationScore}, clazz_id = #{clazzId},update_time = #{updateTime}
        where id = #{id}
    </update>
    <delete id="deleteStudentsById">
        delete from students where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="queryStudents" resultType="cloud.hexiaolei.webaiproject.pojo.Student">
        select st.*, cl.name clazzName
        from students st
        inner join clazz cl on st.clazz_id = cl.id
        <where>
            <if test="name != null and name != ''">
                st.name like concat('%', #{name}, '%')
            </if>
            <if test="degree != null">
                and degree = #{degree}
            </if>
            <if test="clazzId != null">
                and clazz_id = #{clazzId}
            </if>
        </where>
        order by st.update_time desc
    </select>
    <select id="queryStudentById" resultType="cloud.hexiaolei.webaiproject.pojo.Student">
        select * from students where id = #{id}
    </select>
</mapper>